body {

    font-family: 'Merriweather', serif;
    background-color: #FFF;
  
}

.banner {
  
    margin: 20px 30px;
    width: 1220px;
    height: 500px;
    flex-shrink: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    
}

.banner .text {
   
    position: absolute;
    margin: 0%;
    padding: 0;
    left: 235px;
    top: 200px;

}

.text {
    margin-top: 300px;
    align-self: center;
    top: 225px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.text2 {
    margin-top: 300px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text3 {
    margin-top: 300px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text4 {
    margin-top: 300px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner2 img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 250px;

}

.banner3 img {
    width: 1120px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-top: 120px;
}

.text5 {
    right: 150px;
    top: 2000px;
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;

}

.text6 {
    position: absolute;
    left: 200px;
    top: 2100px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.text7 {
    position: absolute;
    left: 200px;
    top: 2150px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.address {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.address-txt {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.btn {
    margin-left: 600px;

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

.btn2 {
    margin-left: 600px;

    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    background: rgb(134, 106, 106);
}

.text8 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px;
}

.text9 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.text10 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.icon-email {
    margin-top: 200px;
    margin-left: 600px;
}

.subscribe {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.btn4 {
    margin-left: 800px;


    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

.box {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
}

.box input[type="text"] {
    position: relative;
    left: 500px;
    border-radius: 50px;
    background: #FFF;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    background: #FFF;

}

.box input[type="submit"] {
    position: relative;
    left: 500px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

footer {
    width: 1350px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
}

.left-text {
    padding-top: 60px;
    padding-left: 30px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.right-text {
    text-align: right;
    padding-right: 30px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.line {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.social-icon img {
    max-resolution: 10px 0px 0px 10px;
    
}

.social-icon {
    margin-top: 70px;
    margin-left: 700px;
}

.left-text-bottom {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right-text-bottom {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
    padding-right: 10px;
}