body {
    font-family: 'Merriweather', serif;
    background-color: white;
}

.banner {
    position: relative;
    width: 1220px;
    height: 500px;
    flex-shrink: 0;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.banner img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    opacity: 0.95;
    margin-top: 100px;
    display: block;
    top: -300px;

}

.banner .text {
    position: relative;
    margin: 0%;
    padding: 0;
    left: 50px;
    top: 100px;
    margin: auto;
    display: block;

}

.text {
    margin-top: 300px;
    align-self: center;
    top: 225px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin: auto;
    display: block;

}

.text2 {
    margin-top: 100px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text3 {
    margin-top: 300px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text4 {
    margin-top: 300px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner2 img {
    z-index: -1;
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    display: block;
    margin: auto;
    top: -10px;
    margin-bottom: 100px;
}

.banner3 img {
    z-index: -1;
    width: 1220px;
    height: 500px;
    flex-shrink: 0;
    margin: auto;
    display: block;

}

.text6 .text5 {
    position: relative;
    color: white;
    color: #FFF;
    font-size: 40px;
    display: block;
    margin: auto top: 300px;
}

.text6 {
    position: relative;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    top: 250px;
    margin-right: 550px;
}

.text7 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    margin: auto;
    display: block;

}

.address {
    text-align: center;
    color: #070211;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.address-txt {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn {
    top: 225px;
    margin-right: 550px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin: auto;
    display: block;
    display: block;
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.btn2 input {
    display: inline;
    z-index: 1;
    position: relative;

}

.text8 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    text-align: left;
    margin-top: 60px;
}

.text9 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.text10 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.icon-email img {

    display: block;
    margin: auto;
    display: block;
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.subscribe {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.btn4 {
    margin-left: 800px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

.box {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    display: block;
    margin: auto;
}

.box input[type="text"] {
    position: relative;
    border-radius: 50px;
    background: #FFF;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    display: block;
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;

}

.box input[type="submit"] {
    position: relative;
    left: 235px;
    bottom: 47px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 52px;
    flex-shrink: 0;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: block;
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

footer {
    display: block;
    margin: auto;
    width: 1350px;
    height: 450px;
    flex-shrink: 0;
    background: #070211;
    display: block;
    margin: auto;

}

.left-text {
    padding-top: 60px;
    padding-left: 30px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 50px;

}

.right-text {
    text-align: right;
    padding-right: 30px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 30px;
}

.line {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.social-icon img {
    position: relative;
    display: flexbox;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 10px;
    padding-left: 200px;
}

.social-icon {
    position: relative;
    align-self: flex-start;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.left-text-bottom {
    position: relative;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;


}

.right-text-bottom {
    position: relative;
    color: #FFF;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding-right: 30px;

}

>.year2024 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.year2024 img {
    position: relative;
    width: 450px;
    height: 400px;
    margin: auto;
    display: block;
    z-index: +1;
    left: 300px;
    top: 550px;
}

.section4 {
    position: relative;
    margin: auto;
    display: block;
    align-self: center;
}

.products1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products1 img {

    display: flexbox;
    margin-right: 50px;
    margin-left: 50px;

}

.products2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products2 img {

    display: flexbox;
    margin-right: 50px;
    margin-left: 50px;

}

.Subscribe-Newsletter {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.Subscribe-Newsletter-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}